services:
  app:
    container_name: app
    restart: no
    build: .
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      # REDIS_URL: ${REDIS_URL}
      PRODUCTS_SERVICE_URL: ${PRODUCTS_SERVICE_URL}
    # depends_on:
    #   postgres:
    #     condition: service_healthy
    #   redis:
    #     condition: service_healthy
    volumes:
      - ./app:/app/app
    command: poetry run uvicorn app.main_integrated:app --host 0.0.0.0 --port 8000 --reload
    labels:
      - homepage.group=ZTP
      - homepage.name=APP
      - homepage.icon=mdi-cart-outline
      - homepage.href=http://${IP}:8000/docs


  products:
    container_name: products
    restart: no
    build: .
    ports:
      - "8001:8001"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      SMTP_SERVER: ${SMTP_SERVER}
    command: poetry run uvicorn app.products_service:app --host 0.0.0.0 --port 8001 --reload
    volumes:
      - ./app:/app/app
    labels:
      - homepage.group=ZTP
      - homepage.name=Products
      - homepage.icon=mdi-package-variant-closed
      - homepage.href=http://${IP}:8001/docs

  mailhog:
    container_name: mailhog
    image: mailhog/mailhog
    ports:
      - "1025:25"
      - "8025:8025"
    labels:
      - homepage.group=ZTP
      - homepage.name=Mailhog
      - homepage.icon=mdi-mail
      - homepage.href=http://${IP}:8025/#
