
services:
  api:
    container_name: api
    build: .
    command: poetry run uvicorn main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    # depends_on:
    #   - postgres
    #   - redis
    env_file:
      - .env    
    # environment:
    #   SQLALCHEMY_DATABASE_URL: ${SQLALCHEMY_DATABASE_URL}
    #   REDIS_URL: ${REDIS_URL}
    #   LOG_LEVEL: ${LOG_LEVEL}
    restart: no

  celery_worker:
    container_name: celery_worker
    build: .
    command: poetry run celery -A notifier worker --loglevel=info
    # depends_on:
    #   - redis
    #   - postgres
    env_file:
      - .env    
    # environment:
    #   SQLALCHEMY_DATABASE_URL: ${SQLALCHEMY_DATABASE_URL}
    #   REDIS_URL: ${REDIS_URL}
    #   LOG_LEVEL: ${LOG_LEVEL}
    restart: no

  celery_beat:
    container_name: celery_beat
    build: .
    command: poetry run celery -A notifier beat --loglevel=info
    # depends_on:
    #   - redis
    #   - postgres
    env_file:
      - .env    
    # environment:
    #   SQLALCHEMY_DATABASE_URL: ${SQLALCHEMY_DATABASE_URL}
    #   REDIS_URL: ${REDIS_URL}
    #   LOG_LEVEL: ${LOG_LEVEL}
    restart: no

  subscriber:
    container_name: subscriber
    build: .
    command: poetry run python subscriber.py
    env_file:
      - .env    
    # environment:
    #   REDIS_HOST: ${REDIS_HOST}
    #   REDIS_PORT: ${REDIS_PORT}
    #   LOG_LEVEL: ${LOG_LEVEL}
    # depends_on:
    #   - redis
    # networks:
    #   - notification-net
    restart: no


#   postgres:
#     image: postgres:18.0-trixie
#     container_name: postgres
#     restart: unless-stopped
#     volumes:
#       - postgresql_data:/var/lib/postgresql/18/docker
#       # - ./initdb.d:/docker-entrypoint-initdb.d
#     env_file:
#       - .env    
#     environment:
#       POSTGRES_DB: ${POSTGRES_DB}
#       POSTGRES_USER: ${POSTGRES_USER}
#       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
#     ports:
#       - "5432:5432"
#   redis:
#     image: redis:8.4.0-alpine
#     container_name: redis
#     restart: unless-stopped
#     ports:
#       - '6379:6379'
#     command: redis-server --save 20 1 --loglevel verbose --requirepass ${REDIS_PASSWORD}
#     volumes: 
#       - cache:/data
#     healthcheck:
#       test:
#         - CMD
#         - redis-cli
#         - ping
#       retries: 3
#       timeout: 5s
#     env_file:
#       - .env

# volumes:
#   postgresql_data:
#     driver: local
#     driver_opts:
#       o: bind
#       type: none
#       device: ${POSTGRESQL_DATA}
#   cache:
#     driver: local
#     driver_opts:
#       o: bind
#       type: none
#       device: ${REDIS_DATA}
#   redis-insight-data:
#     driver: local
#     driver_opts:
#       o: bind
#       type: none
#       device: ${REDIS_INSIGHT_DATA}

